/* Color Palette:
Light Shades: #e6e5da;
Light Accent: #8e9c8e;
Main Brand Color: #f3b619;
Dark Accent: #306d6c;
Dark Shades: #272323;
*/


.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3b619;
}

.navi{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

.header{
    background-color:#8e9c8e;
    text-align: center;
    padding: 20px;
}

/*.column {
    float: left;
    width: 20%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 1000%;
    }
}*/

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.container{
    background-color:beige;
    padding:20px;
    display:flex;
    justify-content:center;
    height:300px;
    align-items:glex-start;
    align-items:center;
    align-items: flex-end;
}

.box{
    background-color:deeppink;
    color:lightpink;
    display: inline-block;
    padding:30px;
    margin:10px;
}